/*Hoja de estilo externa */


body { font-family:cursive;}
a.nodec {text-decoration: none;}

a:hover {text-decoration: underline; font-size: 20pt;}

li em {font-weight: bold;}
h1 em {text-decoration: underline;}
ul {margin-left: 20px;}
ul ul {font-size: 1.8em;}